html{
  height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #222;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


/* navigation*/
ul{
  list-style-type: none;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

li {
  padding: 2px;
  padding-left: 12px;
}

li a {
  display: block;
  color: black;
  text-align: center;
}

li a:hover{
  color: #585858;
}

.options{
  background-image:url("images/options2.png");
  width:30px;
  height:30px;
  opacity: .5;
  background-repeat: no-repeat;
}

.options:hover{
  opacity : .8;
}

.connexion{
 background-color: rgb(67, 135, 239);
 color: white;
 font-weight: bolder;
 font-size: 1em;
 padding:8px;
 padding-left: 12px;
 padding-right: 12px;
 margin: 0px;
 margin-right: 20px;
 border:none;
}

.connexion:hover{
  background-color: rgb(67, 135, 239);
  color: white;
  border: none;
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}


/* contenu*/

.contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:130px;
}

.logo{
  height: 92px;
  width: 272px;
  margin-bottom: 25px;
}

.formulaire{
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow: 0px 2px 5px #D6D6D6;
  border: 1px solid #D9D9D9;
  width:470px;
  height:45px;
  padding-right: 15px;
  padding-left: 10px;
}

input {
  width:440px;
  height:35px;
  border: none;
  font-family: arial, sans-serif;
  font-size:17px;
  outline:0;

}

.buttons {
   margin-bottom:10px;
}

button {
    background-color:#f2f2f2;
    border:1px solid #f2f2f2;
    padding:10px;
    padding-right: 15px;
    padding-left: 15px;
    margin:2px;
    margin-top:30px;
    color:#757575;
    font-size:10pt;
    font-weight:bold;
    font-family:arial, sans-serif;
    border-radius: 2px;
}

button:hover{
  cursor:pointer;
  border:1px solid #cccccc;
  color:black;
  background-color: rgb(245, 245, 245);
}

p{
  color: #222;
  font-family: arial, sans-serif;
  font-size: 10pt;
}

footer
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.france {
  background-color: #f2f2f2;
  border: 1px solid #e6e6E6;
  padding: 12px;
  margin: 0;
  padding-left: 30px;
}

p.france{
  color: #979797;
  font-size: 15px;
}

.bas{
  background-color: #f2f2f2;
  padding: 11px;
  margin: 0;
  display:flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 5px;
  font-family: Arial, sans-serif;
}

footer a {
  color: #595959;
  font-size: 13px;
  margin-right: 25px;

}
